<script type="text/javascript">
  console.log(
    {{ product | json }},
  )
</script>
<div class="x-text-white x-w-full x-max-w-full md:x-w-300px x-cursor-pointer">
  <a href="{{ product.url  }}">
    <div class="x-text-white x-rounded-md x-overflow-hidden x-border-lightgray x-border-3 x-bg-white">
      <img src="{{ product.featured_media | image_url }}" alt="{{ product.title }}" class="x-w-full" />
    </div>
    <div class="x-flex x-items-center x-w-full">
      <div class="x-relative x-mt-4 x-text-black x-w-full x-p-3 x-text-12px x-rounded-lg x-bg-white x-border-2 x-border-lightgray">
        <div>
          {{ product.title  }}
        </div>
        <div class="x-pt-1">
          {%- if product.available == false -%}
            <div class="x-text-12px x-text-red"
            >
            Sold Out
            </div>
          {%- elsif product.compare_at_price > product.price and product.available -%}
            <div
              class="x-text-12px x-text-green"
            >
              On Sale
            </div>
          {%- endif -%}
        </div>
        <div>
          {% render 'price-custom', product: product, price_class: '' %}
        </div>
        <div class="x-absolute x-pointer x-right-0 -x-bottom-1 x-m-4">
          <img src="{{ "meso_bag.png" | asset_url }}" class="x-w-20px" />
          {% comment %} <div class="x-absolute -x-right-2 -x-top-2 x-text-10px x-text-black x-font-bold">+</div> {% endcomment %}
        </div>
      </div>
    </div>
  </a>
</div>